
.calculator {
    max-width: 400px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.container div {
    aspect-ratio: 1;
}

.display-container {
    height: 60px;
    border: solid 1px grey;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 30px;
    text-align: right;
    font-family: monospace, monospace;
}

.button {
    display: inline-block;
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    font-family: monospace, monospace;
}

.button:hover {
    background-color: #b72800;
}

.button.ac {
    background-color: #3b3b3b;
}

.button.ac:hover {
    background-color: #000000;
}

.button.op {
    background-color: #4b705b;
    
}

.button.op:hover {
    background-color: #0a412e;
}